<%- contentFor('mainPage') %>
<div class="container">
	<div class="jumbotron text-center">
		<h1>Data Base Updated Successfully</h1>
		<a href="/catalog"class="btn btn-success goback"><span class="glyphicon glyphicon-hand-right"></span>Catalog</a>
	</div>
</div>