<%- contentFor('mainPage') %>

<div class="contaier">
    <% if (errors.length > 0) { %>
        <div class="alert alert-danger">
            <% for (error of errors) { %>
                <%= error %><br>
            <% } %>
        </div>
    <% } %>

    <% if (duplicateError.length > 0) { %>
        <div class="alert alert-danger"><%= duplicateError %></div>
    <% } %>
</div>



<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form">

            <form action="/maintenance/Book-Insert" method="POST" class="forms no-display" id="insert-form">

                <fieldset class="form-group">
                    <h3>Insert</h3>
                    <div class="form-group">
                        <label>Book Name</label>
                        <input type="text" name="booktitle" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Book Code</label>
                        <input name="bookcode" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>Publisher Code</label>
                        <input name="publishercode" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>Book Type</label>
                        <input name="booktype" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>Number of Copies</label>
                        <input type="number" name="copynum" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>Quality</label>
                        <input name="quality" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" name="price" class="form-control" >
                    </div>

                    <div class="form-group">
                        <label>Branch Number</label>
                        <input type="number" name="branchnum" class="form-control" >
                    </div>

                    <div class="form-group">
                        <div class="radio">
                            <p>Paperback</p>
                            <label class="radio-inline"><input type="radio" name="radiogroup" value="Y" >Yes</label>
                            <label class="radio-inline"><input type="radio" name="radiogroup" value="N">No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-lg form-insert">Insert</button>
                    </div>
                </fieldset>

            </form> 
                        
        </div>
    </div>
</div>
